# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

# 3. Homework - work with your own data

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

This week, you will do the same types of exercises as last week, but you should use your chosen datasets that someone in your class found last semester. (They likely will not be the particular datasets that you found yourself.)

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!

- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

My group and I found a dataset last semester while examining how retailers can improve persolnalized product reccomendations. It's hosted by Kaggle and provides a detailed look at online retail transactions in the United States throught the year of 2020. [See here!](https://www.kaggle.com/datasets/ammaraahmad/us-ecommerce-record-2020)

In [12]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-2.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: bleach in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (6.3.0)
Requirement already satisfied: kagglesdk<1.0,>=0.1.15 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from kaggle) (0.1.15)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (25.0)
Requirement already satisfied: protobuf in /usr/local/python/3.12.1/lib/python3.12/site-packages (from kaggle) (6.33.5)
Requirement already satisfied: python-dateutil in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (2.9.0.post0)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (2.32.5)
Requirement already satisfied: tqdm in /usr/local/python/3.12.1/lib/python3.12/site-packages (from kaggle) (4.67.3)
Requirement already satisfied: urllib3>=1.15.1 in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in /home/codespace/.local/lib/python3.12/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil->kaggle) (1.17.0)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests->kaggle) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests->kaggle) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests->kaggle) (2025.11.12)
Downloading kaggle-2.0.0-py3-none-any.whl (75 kB)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Installing collected packages: text-unidecode, python-slugify, kaggle
  WARNING: The script slugify is installed in '/usr/local/python/3.12.1/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script kaggle is installed in '/usr/local/python/3.12.1/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [kaggle]
Successfully installed kaggle-2.0.0 python-slugify-8.0.4 text-unidecode-1.3

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd
df = pd.read_csv('E-commerce data')
print(df.head())

  Order Date  Row ID        Order ID       Ship Mode Customer ID      Segment  \
0   01-01-20     849  CA-2017-107503  Standard Class    GA-14725     Consumer
1   01-01-20    4010  CA-2017-144463  Standard Class    SC-20725     Consumer
2   01-01-20    6683  CA-2017-154466     First Class    DP-13390  Home Office
3   01-01-20    8070  CA-2017-151750  Standard Class    JM-15250     Consumer
4   01-01-20    8071  CA-2017-151750  Standard Class    JM-15250     Consumer

         Country         City       State  Postal Code   Region  \
0  United States       Lorain        Ohio        44052     East
1  United States  Los Angeles  California        90036     West
2  United States     Franklin   Wisconsin        53132  Central
3  United States   Huntsville       Texas        77340  Central
4  United States   Huntsville       Texas        77340  Central

        Product ID         Category Sub-Category  \
0  FUR-FU-10003878        Furniture  Furnishings
1  FUR-FU-10001215        Furniture  Furnishings
2  OFF-BI-10002012  Office Supplies      Binders
3  OFF-ST-10002743  Office Supplies      Storage
4  FUR-FU-10002116        Furniture  Furnishings

                                        Product Name    Sales  Quantity  \
0                 Linden 10" Round Wall Clock, Black   48.896         4
1  Howard Miller 11-1/2" Diameter Brentwood Wall ...  474.430        11
2            Wilson Jones Easy Flow II Sheet Lifters    3.600         2
3                      SAFCO Boltless Steel Shelving  454.560         5
4  Tenex Carpeted, Granite-Look or Clear Contempo...  141.420         5

   Discount    Profit
0       0.2    8.5568
1       0.0  199.2606
2       0.0    1.7280
3       0.2 -107.9580
4       0.6 -187.3815

In [22]:
df.sample(n=5)

,Order Date,Row ID,Order ID,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1041,12-06-20,5497,CA-2017-117821,Standard Class,HG-15025,Consumer,United States,Marion,Ohio,43302,East,TEC-AC-10004469,Technology,Accessories,Microsoft Sculpt Comfort Mouse,63.920,2,0.2,19.1760
458,27-03-20,4676,CA-2017-139416,Second Class,AG-10270,Consumer,United States,Philadelphia,Pennsylvania,19120,East,FUR-FU-10003832,Furniture,Furnishings,Eldon Expressions Punched Metal & Wood Desk Ac...,15.008,2,0.2,1.5008
172,04-02-20,7065,CA-2017-169474,Standard Class,JF-15355,Consumer,United States,Rochester,New York,14609,East,OFF-AP-10003971,Office Supplies,Appliances,Belkin 6 Outlet Metallic Surge Strip,32.670,3,0.0,8.4942
3177,21-12-20,515,CA-2017-163405,Standard Class,BN-11515,Consumer,United States,Los Angeles,California,90049,West,OFF-AR-10001246,Office Supplies,Art,Newell 317,5.880,2,0.0,1.7052
3192,22-12-20,2059,CA-2017-120376,First Class,TP-21130,Consumer,United States,Detroit,Michigan,48227,Central,FUR-TA-10004534,Furniture,Tables,Bevis 44 x 96 Conference Tables,411.800,2,0.0,70.0060

In [15]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    3312 non-null   str
 1   Row ID        3312 non-null   int64
 2   Order ID      3312 non-null   str
 3   Ship Mode     3312 non-null   str
 4   Customer ID   3312 non-null   str
 5   Segment       3312 non-null   str
 6   Country       3312 non-null   str
 7   City          3312 non-null   str
 8   State         3312 non-null   str
 9   Postal Code   3312 non-null   int64
 10  Region        3312 non-null   str
 11  Product ID    3312 non-null   str
 12  Category      3312 non-null   str
 13  Sub-Category  3312 non-null   str
 14  Product Name  3312 non-null   str
 15  Sales         3312 non-null   float64
 16  Quantity      3312 non-null   int64
 17  Discount      3312 non-null   float64
 18  Profit        3312 non-null   float64
dtypes: float64(3), int64(3), str(13)
memory usage: 491.8 KB

In [16]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,3312.000000,3312.000000,3312.000000,3312.000000,3312.000000,3312.000000
mean,5087.107488,56186.515097,221.381418,3.766908,0.156467,28.212340
std,2817.482266,31980.375516,585.257531,2.221776,0.207429,241.864342
min,13.000000,1841.000000,0.444000,1.000000,0.000000,-3839.990400
25%,2655.750000,27978.750000,17.018000,2.000000,0.000000,1.763200
50%,5183.500000,60472.500000,53.810000,3.000000,0.200000,8.296800
75%,7498.250000,90032.000000,205.105700,5.000000,0.200000,28.315125
max,9994.000000,99301.000000,13999.960000,14.000000,0.800000,6719.980800

This tells us the mean and mediam of each column in the dataset!

In [21]:
df.mode()

,Order Date,Row ID,Order ID,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,02-09-20,13,CA-2017-100111,Standard Class,JL-15835,Consumer,United States,New York City,California,10035.0,West,FUR-CH-10003774,Office Supplies,Binders,Easy-staple paper,12.96,2.0,0.0,0.0
1,NaN,24,NaN,NaN,SV-20365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,NaN,9989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3308,NaN,9991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3309,NaN,9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3310,NaN,9993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3311,NaN,9994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This is the mode of each column in the dataset. This isn't really helpful yet!

In [17]:
df.isnull().sum()

Order Date      0
Row ID          0
Order ID        0
Ship Mode       0
Customer ID     0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Product ID      0
Category        0
Sub-Category    0
Product Name    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

There's no missing values at all! That's great!

In [18]:
df.duplicated().sum()

np.int64(0)

In [ ]:
#highest sale
df.iloc[df['Sales'].argmax()]

Order Date                                   23-03-20
Row ID                                           8154
Order ID                               CA-2017-140151
Ship Mode                                 First Class
Customer ID                                  RB-19360
Segment                                      Consumer
Country                                 United States
City                                          Seattle
State                                      Washington
Postal Code                                     98115
Region                                           West
Product ID                            TEC-CO-10004722
Category                                   Technology
Sub-Category                                  Copiers
Product Name    Canon imageCLASS 2200 Advanced Copier
Sales                                        13999.96
Quantity                                            4
Discount                                          0.0
Profit                                      6719.9808
Name: 427, dtype: object

There's no duplicate values either! (There could be duplicates since there may be diiferent orders numbers with the same order content)

Final conclusions:
1. Are the data usable? Yes! The data is definitely usable. The dataset is a comprehensive resource that captures a snapshot of the online retail landscape in the United States during 2020.. It contains over 3,000 unique entries and is segmented into 19 columns, with every row representing a purchase and including information such as product category, subcategory, sales value, discount, profit, customer type, and the country, state, and city where the order was shipped. Since the dataset is a mix of numerical and categorical data, and everything is labeled in a way that makes sense, we didn’t need to clean or rebuild its structure, and the fact that it contained no missing values was also an added benefit. 

2. Do you need to modify or correct the data in some way? Yes! There are no duplicate or missing values but there some to be some outliers which may have occured due to typos while entering in the data, expecially in the sales category. On a similar note, for the sales category, there is a significant skew! The mean is much higher than the median qwhich tells most of the sales may be small but a few. bigger orders may be inflating that average a bit. 

3. Is there any class imbalance? Yes! There is a class imabalnce. For instance, office supplies account for a decent amount of order category. 

Note: To use the data, you'd also have to encode the categorical variables in order to interpret the data accurately.

# 4. Storytelling With Data graph

Just like last week: choose any graph in the Introduction of Storytelling With Data (p. 1-17). Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.